/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/* CSS reset end */

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

*{
    letter-spacing: 1px;
}


/* INDEX */

#index_page{
    background: #FFF;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
}

.index-content{
    width: 70%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.index_p{
    font-family: 'Noto Sans TC', sans-serif;
    text-indent: 40px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    /* display: block; */
    display: none;
    width:70%;
    margin-bottom: 50px;
    font-weight: 500;
    margin: 0 auto;
}

.index-content a{
    text-decoration: none;
    font-size: 30px;
    color: #000;
    padding: 10px;
    transition: transform 1s;
    display: block;
    padding: 20px 30px 30px 30px;
}

.index-content a:hover{
    transform: translateX(5px);
}

.index_footer{
    text-indent: 0px;
    text-align: center;
    font-size: 12px;
    bottom: 40px;
    letter-spacing: .1em;
    display: none;
}


@media(max-width: 768px){
    
    #index_page{
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
    .index-content{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .index_footer{
        display: inline;
    }

    .index_p{
        font-size: 15px;
        line-height: 1.8;
        width:75%;
        margin: 50px 50px 10px 50px;
    }

}


/* MAIN */

#menu_button{
    display: none;
}

#pc_nav{
    margin-left: 30px;
    padding-top: 4px;
}

h2{
    display: none;
}

.container{
    max-width: 900px;
    margin: 8% auto;
    height: 100%;
}

.display_none{
    display: none;
}

/* nav */

.container nav{
    width: 130px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.container nav p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 13px;
    margin-bottom: 35px;
    font-weight: 900;
}

.container nav a{
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    text-decoration: none;
    font-size:15px;
    /* display: inline; */
    margin-bottom: 20px;
    letter-spacing: .05em;
    font-weight: 700;
    transition: transform .5s;
}

.container a:hover{
    transform: translateX(2px);
}

/* main */

.container main{
    width: 80%;
    margin-left:180px;
}

.main_li{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: .2em;
    text-align: center;
    border: solid #000 1px;
    border-radius: 40px;
    margin: 20px 0 0 0;
    padding: 15px;
    transition: all .2s .05s;
    /* transition: color 1s .2s; */
    cursor: pointer;
}

@media(min-width: 769px){
    .main_li:hover{
        background-color: #000;
        color: #FFF;
    }
    #m_nav_all{
        display: none;
    }
    #star{
        margin-top: 60px;
        display: none;
    }
    #page1, #page2, #page3, #page4, #page5{
        margin: 0 30px;
    }
}
.main_li_click{
    background-color: #000;
    color: #FFF;
}

@media(max-width: 768px){
    .container{
        width: 100%;
        /* max-width: 900px; */
        margin: 120px auto;
        height: 100%;
    }
    .container main{
        margin: 30px auto 32px auto;
    }

    #page1, #page2, #page3, #page4, #page5{
        margin: 0;
    }

    #pc_nav{
        display: none;
    }

    #star{
        margin-top: 0px;
        display: none;
    }

    h2{
        display: block;
        text-align: right;
        font-weight: 900;
        margin-top: -57px;
        padding-bottom: 50px;
        font-size: 18px;
        letter-spacing: 1px;
        padding-right: 5px;
    }

    #close{
        position: fixed;
        top: 53px;
        right: 40px;
        font-size: 30px;
        cursor: pointer;
    }


    #m_nav{
        position: fixed;
        bottom: 10%;
        left: 50px;
        width: 90%;
    }

    #m_nav_all nav a, #m_nav_all nav p{
        display: block;
        text-align: justify;
        padding: 15px 10px 15px 20px;
        margin: 0;
        position: relative;
        left: -200px;
    }

    #m_nav_all nav p{
        margin-bottom: 10px;
    }

    .m_nav_bg{
        background: #FFF;
        opacity: .9;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    #menu_button{
        position: fixed;
        top: 40px;
        left: -3px;
        border: solid 2px #333;
        border-radius: 0 15px 15px 0;
        /* box-shadow: 2px 2px 3px #D5D5D5; */
        filter: drop-shadow(2px 2px 3px #D5D5D5);
        height: 47px;
        width: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        opacity: .85;
        cursor: pointer;
    }

    #menu_button p{
        display: block;
        line-height: .3;
        font-size: 22px;
        font-weight: 900;
        color: #333;
    }
}

.main_p{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
}

.main_p a{
    text-decoration: none;
    color: #0BB;
}

#imgdiv{
    width: 40%;
    height: 40%;
    padding: 0 0 30px 18px;
    min-width: 230px;
    min-height: 230px;
}

.main_3_img{
    height: 100%;
    width: 100%;
    filter: brightness(1.05) hue-rotate(-5deg);
}

.top_p{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 30px;
    line-height: 1.5;
}

h4{
   padding: 40px 0 0px 15px; 
   font-family: 'Noto Sans TC', sans-serif;
   font-weight: 700;
}

/* 層級調整 */

#m_nav_all, #menu_button, .m_nav_bg, #m_nav{
    z-index: 5;
}

.main_3_img, #imgdiv{
    z-index: -1;
}

#index_page{
    z-index: 10;
}

